<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Mon crud avec material ui</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">Ajouter un produit</button>
    
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Rechercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Taper Ici" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- nom Column -->
        <ng-container matColumnDef="nomProduit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <!--Pour tester l'utilisation des pipes {{"Nom" | uppercase}}--> Nom </th>
          <td mat-cell *matCellDef="let row"> {{row.nomProduit}} </td>
        </ng-container>
    
        <!-- categorie Column -->
        <ng-container matColumnDef="categorieProduit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
          <td mat-cell *matCellDef="let row"> {{row.categorieProduit}}</td>
        </ng-container>
    
        <!-- qualite Column -->
        <ng-container matColumnDef="qualiteProduit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualite </th>
          <td mat-cell *matCellDef="let row"> {{row.qualiteProduit}} </td>
        </ng-container>
    
        <!-- prix Column -->
        <ng-container matColumnDef="prixProduit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
          <td mat-cell *matCellDef="let row"> {{row.prixProduit | currency:'XAF'}} </td>
        </ng-container>

        <!-- commentaire Column -->
        <ng-container matColumnDef="commentaireProduit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> commentaire </th>
          <td mat-cell *matCellDef="let row"> {{row.commentaireProduit}} </td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="dateProduit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.dateProduit | date:'dd,MM,yyyy'}} </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editProduct(row)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="supprimerProduit(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>
  </div>
</div>